<h2>Commande Confirmée</h2>
<p>ID commande : <%= commande.id_commande %></p>
<p>Montant payé : <%= paiement.montant %> DT</p>
<p>Statut paiement : <%= paiement.statut %></p>


<a href="/client/restaurants">Retour aux restaurants</a>