<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil Client</title>
</head>
<body>
    <h1>Bienvenue sur la page client</h1>
    <p>Cette est la page d'accueil pour les clients.</p>
    <a href="/client/restaurants">Voir les restaurants</a>
</body>
</html>